@import "../../style.scss";

body {
    font-family: 'Arial', sans-serif;
    background-color: #f6f3f3;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.settings-container {
    display: flex;
    // border: 1px solid #ccc;
    width: 100%;
    min-height: 95vh;
    @include themify($themes) {
        background-color: themed("bgSoft");
        color: themed("textColor"),
    }
}


.settings-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 16%;
    // border-right: 1px solid #ccc;
    margin-left: 1%;
    margin-top: 1%;
    padding: 0;
}

.settings-item {
    font-size: 18px;
    margin: 0;
    padding: 30px 30px; 
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    padding: 20px;
    // margin-bottom: 20px;
    background-color: white;
    @include themify($themes) {
        background-color: themed("bg");
    }
}

.settings-item:hover {
    background-color: #35393a29;
}

.settings-item.selected {
    background-color: #35393a29;
}

.form-row input[type=text],.form-row input[type=tel],.form-row input[type=email],.form-row input[type=date],select,textarea{
    align-items: center;
    gap: 10px;
    border: 1px solid lightgray;
    background:none;
    @include themify($themes) {
        color: themed("textColor"),
    }
    border-radius: 5px;
    padding: 5px;
}
select{
    padding: 5px 13px;
    background-color: none;
}

.settings-area {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    //background-color: white;
    //color: #000;
    @include themify($themes) {
        background-color: themed("bg");
        color: themed("textColor"),
    }
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 50px;
    margin: 1vw;
    height: 33vw;
}

.form-row {
    margin-top: 20px;
    margin-bottom: 20px;
  }

.form-header{
    font-size: 24px;
    text-align: center;
}

.dark-mode {
    background-color: black;
    color: #fff;
}

button {
    margin-right: 10px;
}

.btn_submit{
    padding: 5px 30px;
    border-radius: 15px;
    border: 2px solid #8095ff;
    background-color: #8095ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.btn_edit{
    padding: 5px 30px;
    border-radius: 15px;
    border: 2px solid #8095ff;
    background-color: white;
    color: #8095ff;
    font-size: 16px;
    cursor: pointer;
}
