/* MessagingPage.css */


body {
  font-family: 'Arial', sans-serif;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex: 1;
  background-color: darkblue;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 80px;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
}

.header div {
  margin: 0 10px;
  /* Add margin to each side for spacing */
  display: flex;
  /* Make the container of the links a flex container */
}

.header a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header a img {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.chat-container {
  flex: 8;
  width: 90%;
  height: 90%;
  margin: 2% auto;
  /* Add vertical margin to separate from header/footer */
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid darkblue;
  /* Blue border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for a tech feel */
  display: flex;
  font-family: 'Arial', sans-serif;
  /* Font to match the header */
  color: black;
  /* Font color to match the header */
}

.chat-area {
  flex: 1;
  background-color: #fff;
  /* White background */
  border-left: 2px solid #ccc;
  /* No border */
  display: flex;
  flex-direction: column;
  /* Stack children vertically */
}

.chat-person {
  display: flex;
  height: 5%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 2px solid #ccc;
}

.chat-person-left,
.left-section,
.right-section {
  display: inline-flex;
  align-items: center;
}

.chat-person-avatar {
  flex: 1;
  max-width: 30%;
  border-radius: 50%;
  object-fit: cover;
}

.mid-section {
  flex: 2;
  max-width: 20%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

}

.chat-person-status,
.chat-person-time {
  text-align: left;
  font-size: 14px;
}

.chat-person-time {
  font-size: 14px;
}

.right-section {
  flex: 7;
  max-width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.chat-person-menu {
  position: relative;
  margin-right: 30px;
}

.chat-person-menu img {
  width: 20px;
  height: 20px;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
}


.dropdown-menu {
  display: none;
  position: absolute;
  width: 150px;
  right: 0;
  border: 1px solid lightgray; /* 淡灰色边框 */
  border-radius: 5px; /* 圆角 */
  background-color: white;
  color: gray;
  z-index: 1000; 
}

.menu-item {
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.menu-item:hover {
  background-color: #f0f0f0; /* 鼠标上浮时的底色 */
  cursor: pointer;
}

.menu-button.active + .dropdown-menu,
.dropdown-menu.active {
  display: block;
}




.chat-messages {
  flex: 1;
  overflow-y: auto;
  /* Allow scrolling for chat messages */
  position: relative;
}

.block-notice {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color: darkred;
  font-size: 14px;
}
.blocked {
  background-color: #ccc; 
}

.disabled-input textarea {
  background-color: #ccc; 
  cursor: not-allowed; 
  pointer-events: none; 
}


.chat-messages {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  align-items: flex-end; 
  color: #333;
}

.message-box {
  background-color: #DCF8C6;
  border-radius: 5px;
  padding: 5px;
  margin: 2px 30px; 
  min-width: 10%;
  max-width: 60%;
  word-wrap: break-word;
}




.group-info-popup {
  margin-left: auto;
  margin-top: 5px;
  top: 5px;
  right: 2px;
  height: 88%;
  width: 300px;
  background-color: white;
  border-right: 1px solid #ccc;
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  overflow-y: auto;
  z-index: 1000;
}

.group-info-popup {
  position: relative;
  padding:20px;
}

.group-info-title {
  text-align: center;
  font-size: 24px;
}

.group-info-header {
  display: flex;
  align-items: center;
}

.group-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.group-name {
  margin-left: 20px;
}

.participants-title,
.settings-title {
  font-weight: bold;
  margin-top: 20px;
}

.participants-list {
  margin-top: 10px;
}

.settings-options label {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.exit-group-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: 2px solid lightgray;
  background-color: white;
  cursor: pointer;
}

.close-popup-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}





.chat-input {
  display: flex;
  /* Make it a flex container to align children horizontally */
  align-items: center;
  /* Align children vertically in the center */
  padding: 10px;
  /* Some padding for spacing */
  width: 95%;
  /* Set width to 80% of the parent */
  margin: 0 auto;
  /* Center the chat-input horizontally */
  border-radius: 20px;
  /* Rounded corners */
  justify-content: space-between;
  /* Space out the items */
}

.chat-input textarea {
  flex: 2;
  border: none;
  width: 90%;
  height: 30px;
  /* Adjusted height */
  padding: 5px;
  border-radius: 10px;
  margin-right: 5px;
  background-color: #ebe8e8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Added shadow */

  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #333;

  /* Remove the default outline and border on focus */
  outline: none;

  &:focus {
    border: none;
  }
}



.chat-input button,
.chat-input label {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  /* Some margin to separate the buttons */
  order: 2;
  /* Push the buttons to the right */
}

.chat-input label img {
  width: 20px;
  /* Adjust the size of the label icon */
  height: 20px;
}

.send_message img {
  width: 20px;
  /* Adjust as needed */
  height: 20px;
  /* Adjust as needed */
}

.friends-list {
  width: 30%;
  overflow-x: hidden;
}

.friends-header {
  height: 7%;
  text-align: left;
  /* Align the text to the left */
  font-size: 24px;
  /* Increase the font size */
  margin-bottom: 20px;
  /* Increase space below the header */
  padding: 15px 10px;
  /* Add some vertical padding */
  border-bottom: 2px solid darkblue;
  /* Add a thick gray border to the bottom */
}

.search-box {
  display: flex;
  align-items: center;
  margin: 10px 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  height: 40px;
  font-family: 'Arial', sans-serif;
  color: #333;
  /* Adjust based on the university's search box font color */
}

.search-box input {
  font-size: 16px;
  /* Adjusted font size */
  font-family: 'Arial', sans-serif;
  color: #333;
}


.search-box label img {
  /* Adjust the size of the image inside the label */
  width: 24px;
  /* Set a fixed width for the image */
  height: 24px;
  /* Set a fixed height for the image */
}

.search-box label {
  margin: 0 5px;
}

.search-box input {
  flex: 1;
  /* Take available space */
  padding: 10px;
  /* Increase padding for a larger height */
  border: none;
  /* Remove the border */
  font-weight: bold;
  /* Bold font */
  color: #ccc;
  /* Gray color for the placeholder */
  outline: none;
  /* Remove the default outline */
}

.search-container {
  position: relative;
}

.search-box {
  width: 90%;
  padding: 10px;
}

.search-dropdown-menu {
  position: absolute;
  border: 1px solid lightgray;
  width: 100%;
  display: none;  
}

.search-dropdown-item {
  padding: 10px;
  cursor: pointer;
}



.friend-area {
  width: 100%;
  height: 400px;
  /* Set a fixed height or adjust as needed */
  overflow-y: scroll;
  /* Show vertical scrollbar when content overflows */
  border-right: 2px solid #ccc;
  /* Add a thick gray border to the right */
}

.friend-item {
  display: flex;
  align-items: center;
  margin: 5px auto;
  /* Add margin to the top and bottom, and auto to the left and right for centering */
  width: 100%;
  /* Set a width to make sure it's aligned with search-box */
  transition: background-color 0.3s;

}

.friend-item:hover {
  cursor: pointer;
  /* Change cursor to hand on hover */
  background-color: lightcyan;
  /* Light blue background color */
}

.friend-item.selected {
  background-color: lightcyan;
}

/* Style for the scrollbar */
.friends-list::-webkit-scrollbar {
  width: 15px;
  /* Width of the scrollbar */
}

.friends-list::-webkit-scrollbar-thumb {
  background: #555;
  /* Dark color for the scrollbar thumb */
}

.friend-avatar {
  border-radius: 50%;
  /* Make the avatar circular */
  margin: 0 10px;
  /* 10px margin on the left and right */
  width: 40px;
  /* Set a fixed width */
  height: 40px;
  /* Set a fixed height */
  object-fit: cover;
  /* Ensure the image covers the entire element without being stretched or squished */
}


.friend-details {
  flex: 2;
  /* Take more space than the other columns */
}

.friend-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unread-messages {
  background-color: palevioletred;
  /* Blue background */
  color: #fff;
  /* White text */
  border-radius: 50%;
  /* Make it circular */
  padding: 5px 10px;
  /* Some padding */
  margin: 10px 20px;
  /* Some margin below the unread messages count */
}
