@import "../../style.scss";

.home {
  align-items: center;

  .center {
    flex: 8;
    @include themify($themes) {
      background-color: themed("bgSoft");
      padding: 20px 50px;

      @include mobile {
        padding: 10px;
      }
    }
  }
}
