@import "../../style.scss";

.profile {
  @include themify($themes) {
    background-color: themed("bgSoft");
    display: flex;
    justify-items: center;

    .left {
      flex: 10;
      padding: 20px 50px;
      gap: 20px;

      .profileContainer {
        -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        background-color: themed("bg");
        color: themed("textColor");
        border-radius: 20px;
        border: 1px solid themed("border");
        margin-bottom: 20px;

        @include mobile {
          padding: 10px;
        }

        .images {
          width: 100%;
          height: 200px;
          position: relative;

          .cover {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
          }

          .profilePic {
            width: 152px;
            height: 152px;
            border-radius: 50%;
            border: 5px solid white;
            object-fit: cover;
            position: absolute;
            left: 24px;
            margin: auto;
            top: 92px;
          }
        }
        .uInfo {
          padding: 55px;
          display: flex;
          justify-content: space-between;

          @include mobile {
            flex-direction: column;
            height: 30vh;
            padding: 20px;
            margin-top: 100px;
          }

          .uInfoLeft {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .userName {
              font-size: 28px;
              font-weight: bold;
            }
            .userDesc {
              margin-top: 10px;
              font-size: 16px;
            }
            .major {
              font-size: 14px;
            }
          }
          .uInfoRight {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .items {
              display: flex;
              gap: 40px;
              font-size: 14px;
              .item {
                .count {
                  font-weight: bold;
                }
                span {
                  color: themed("textColorSoft");
                }
              }
            }
            .connect {
              display: flex;
              gap: 20px;

              .follow {
                padding: 5px 30px;
                border-radius: 15px;
                border: none;
                background-color: #8095ff;
                color: white;
                font-size: 16px;
                cursor: pointer;
              }
              .message {
                padding: 5px 30px;
                border-radius: 15px;
                border: 2px solid #8095ff;
                background-color: themed("bg");
                color: #8095ff;
                font-size: 16px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .right {
      flex: 4;
    }
  }
}
